<div class="w-full h-screen justify-center items-center flex flex-col p-3 animate-fadeIn">
    <div class="bg-white p-4 rounded-md flex flex-col w-full md:w-1/2 xl:w-2/5 shadow gap-3">
        <h2 class="text-2xl font-bold">Entrar</h2>
        <div class="w-full flex flex-col bg-background shadow">
            <div class="w-full flex flex-col p-2 rounded-md gap-1">
                <label for="email" class="text-paragraph font-semibold"><i class="pi pi-envelope text-primary"></i> Email</label>
                <input type="email" name="email" id="email" class="p-2 rounded-md outline-none focus:shadow-input-focus shadow" placeholder="Email" inputAutofocus>
            </div>
            <div class="w-full flex flex-col p-2 rounded-md gap-1">
                <label for="senha" class="text-paragraph font-semibold"><i class="pi pi-lock text-primary"></i> Senha</label>
                <input type="password" name="senha" id="senha" class="p-2 rounded-md outline-none focus:shadow-input-focus shadow" placeholder="Senha">
            </div>
        </div>
        <div class="w-full flex flex-row justify-end gap-3">
            <button class="border-2 border-primary text-primary font-semibold p-2 rounded-md">Criar conta</button>
            <button class="bg-primary p-2 text-white rounded-md font-semibold">Entrar</button>
        </div>
    </div>
</div>