<div class="flex flex-col justify-center items-center w-full h-screen bg-background">
  <form class="w-1/2 bg-white p-4 rounded-md shadow flex flex-col items-center gap-3" [formGroup]="formGroup">
    <h2 class="text-xl font-semibold self-start">Recuperar senha</h2>
    <div class="flex flex-col w-full bg-background p-4 rounded-md gap-1 shadow">
      <label for="new-password" class="text-paragraph font-semibold"><i class="pi pi-lock text-primary"></i> Nova senha</label>
      <input type="password" class="outline-none p-2 rounded-md border-2 focus:border-primary" placeholder="Digite sua nova senha" [ngClass]="isFieldValid('novaSenha')" formControlName="novaSenha">
    </div>
    <button class="p-2 bg-primary text-white rounded-md self-end" (click)="requestPasswordRecovery()"><i class="pi pi-sign-in"></i> RECUPERAR</button>
  </form>
</div>