<div class="w-full flex flex-col items-center p-4">
  <div class="flex flex-col bg-white p-5 w-3/5 rounded-md gap-6">
    <div class="w-full flex flex-row justify-between px-4">
      <h2 class="text-2xl font-bold">Alunos</h2>
      <input type="text" class="p-2 w-1/2 rounded-lg shadow focus:shadow-input-focus outline-none transition-all duration-100 cursor-pointer bg-background" placeholder="Pesquisar">
      <button class="bg-primary p-2 rounded-md text-white font-semibold"><i class="pi pi-user-plus"></i> CADASTRAR</button>
    </div>
    <div class="w-full grid grid-cols-3 bg-background rounded-md shadow p-5 gap-3">
      <client-card (selected)="clientSelected()"/>
      <client-card (selected)="clientSelected()"/>
      <client-card (selected)="clientSelected()"/>
      <client-card (selected)="clientSelected()"/>
      <no-client-card/>
    </div>
  </div>
</div>
<client-details />