<div class="w-full flex flex-col p-4 items-center">
    <div class="bg-white rounded-md p-4 w-1/2 shadow flex flex-col gap-3">
        <h2 class="text-2xl font-bold">Gestão</h2>
        <div class="flex flex-col bg-background rounded-md p-4">
            <h2 class="text-paragraph font-semibold text-lg"><i class="pi pi-wrench text-primary"></i> Editar modalidades</h2>
            <div class="grid grid-cols-3 p-3 gap-3">
                <div class="flex flex-row justify-center items-center gap-3 p-3 bg-white shadow rounded-md transition hover:-translate-y-1 duration-300">
                    <span class="bg-info px-2 py-1 rounded-full text-white">Neopilates</span>
                    <button class="bg-primary py-1 px-2 rounded-md" (click)="openModal()"><i class="pi pi-pencil text-white"></i></button>
                </div>
                <div class="flex flex-row justify-center items-center gap-3 p-3 bg-white shadow rounded-md transition hover:-translate-y-1 duration-300">
                    <span class="bg-yellow px-2 py-1 rounded-full text-white">Personal Pilates</span>
                    <button class="bg-primary py-1 px-2 rounded-md" (click)="openModal()"><i class="pi pi-pencil text-white"></i></button>
                </div>
                <div class="flex flex-row justify-center items-center gap-3 p-3 bg-white shadow rounded-md transition hover:-translate-y-1 duration-300">
                    <span class="bg-success px-2 py-1 rounded-full text-white">Bungee Fusion</span>
                    <button class="bg-primary py-1 px-2 rounded-md" (click)="openModal()"><i class="pi pi-pencil text-white"></i></button>
                </div>
                <div class="flex flex-row justify-center items-center gap-3 p-3 bg-white shadow rounded-md transition hover:-translate-y-1 duration-300">
                    <span class="bg-error px-2 py-1 rounded-full text-white">Elastic Training</span>
                    <button class="bg-primary py-1 px-2 rounded-md" (click)="openModal()"><i class="pi pi-pencil text-white"></i></button>
                </div>
                <div class="flex flex-row justify-center items-center gap-3 p-3 rounded-md">
                    <span class="font-semibold text-paragraph">Nova modalidade</span>
                    <button class="bg-primary py-1 px-2 rounded-md" (click)="openModal()"><i class="pi pi-plus text-white"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<edit-category/>