<div class="w-full flex flex-col items-center p-2 md:p-4 animate-fadeIn">
  <div class="flex flex-col bg-white p-4 rounded-md shadow w-full lg:w-2/3 gap-3">
    <h2 class="text-2xl font-bold">Configurações</h2>
    <div class="w-full flex flex-col bg-background rounded-md shadow p-3 gap-3">
      <div class="flex flex-row justify-between w-full px-3 items-center">
        <h2 class="text-paragraph font-semibold text-lg"><i class="pi pi-users text-primary"></i> Usuários</h2>
        <button class="bg-primary p-2 rounded-md text-white" (click)="openModal()"><i class="pi pi-user-plus"></i> CADASTRAR</button>
      </div>
      <table *ngIf="users.length > 0" class="border-2 border-gray-300 rounded-md flex flex-col items-stretch">
        <thead class="w-full flex p-3 border-b-2 border-gray-300">
          <tr class="w-full flex flex-row justify-between">
            <td class="text-paragraph font-semibold w-1/3 md:w-1/5 text-center">
              <i class="pi pi-user text-primary"></i>
              Nome
            </td>
            <td class="text-paragraph font-semibold w-1/3 md:w-1/5 text-center">
              <i class="pi pi-envelope text-primary"></i>
              Email
            </td>
            <td class="w-1/3 md:w-1/5 text-center">
            </td>
          </tr>
        </thead>
        <tbody class="bg-white w-full flex flex-col items-stretch">
          <tr *ngFor="let user of users"
            class="cursor-pointer hover:bg-background p-3 transition-colors duration-200 flex flex-row justify-between border-b">
            <td class="w-1/3 md:w-1/5 text-center ">{{user.nome}}</td>
            <td class="w-1/3 md:w-1/5 text-center overflow-clip"><span
                class="text-nowrap text-ellipsis">{{user.email}}</span></td>
            <td class="w-1/3 md:w-1/5 text-center">
              <button class="bg-info text-sm md:text-base text-white font-semibold rounded-md p-1 self-center" (click)="openModal(user)"><i
                  class="pi pi-pencil"></i> Editar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<new-user />