<div *ngIf="show" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50">
    <div class="bg-white w-1/2 rounded-md p-4 flex flex-col gap-2">
        <div class="flex flex-row items-center w-full justify-between px-3">
            <h2 class="text-xl font-bold">Detalhes do aluno</h2>
            <button class="px-2 py-1 shadow bg-background rounded-full" (click)="closeModal()"><i class="pi pi-times"></i></button>
        </div>
        <div class="bg-background w-full rounded-md shadow p-3">
            <p class="text-paragraph font-semibold"><i class="pi pi-user text-primary"></i> Nome: <span class="text-primary">Teste</span></p>
        </div>
    </div>
</div>