<header class="w-full flex flex-row justify-between bg-primary p-6">
    <div class="flex flex-col">
        <span class="text-white text-2xl font-extrabold">Fit Fermendes</span>
        <span class="min-h-[2px] bg-white w-[25%]"></span>
        <span class="text-white text-xs">STUDIO DE PILATES</span>
    </div>
    <div class="flex flex-row">
        <nav class="flex flex-row gap-3 items-center">
            <a [routerLink]="'aulas'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                class="py-1 px-3 rounded-3xl text-center text-white font-semibold bg-secondary cursor-pointer transition-colors duration-300">Aulas</a>
            <a [routerLink]="'aulas/agendar'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                class="py-1 px-3  rounded-3xl text-center text-white font-semibold bg-secondary cursor-pointer transition-colors duration-300">Agendar</a>
            <a [routerLink]="'aulas/historico'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                class=" py-1 px-3 rounded-3xl text-center text-white font-semibold bg-secondary cursor-pointer transition-colors duration-300">Histórico</a>
            <a
                [routerLink]="'alunos'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                class="py-1 px-3  rounded-3xl text-center text-white font-semibold bg-secondary cursor-pointer transition-colors duration-300">Alunos</a>
            <a
                [routerLink]="'gestao'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                class="py-1 px-3  rounded-3xl text-center text-white font-semibold bg-secondary cursor-pointer transition-colors duration-300">Gestão</a>
            <a
                [routerLink]="'configurações'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                class="py-1 px-3  rounded-3xl text-center text-white font-semibold bg-secondary cursor-pointer">Configurações</a>
            <a class="py-1 px-3  rounded-3xl text-center text-white font-semibold bg-secondary cursor-pointer transition-colors duration-300">Sair</a>
        </nav>
    </div>
</header>
<main class="w-full bg-background px-5 py-5 h-full">
    <ng-content></ng-content>
</main>