<div class="w-full flex flex-col lg:p-4 items-center">
  <div class="flex flex-col bg-white rounded-md shadow p-3 lg:p-5 xl:w-3/4 w-full gap-4 animate-fadeIn" [formGroup]="formGroup">
    <div class="w-full flex flex-row justify-between items-center">
      <h2 class="font-bold text-2xl">{{client? 'Editar aluno': 'Novo aluno'}}</h2>
      <button class="bg-error p-2 rounded-md text-white text-xs md:text-base" (click)="cancelRegistration()"><i
          class="pi pi-times"></i>
        CANCELAR</button>
    </div>
    <div class="bg-background shadow grid grid-cols-2 w-full rounded-md p-5 lg:gap-5 gap-2">
      <h2 class="text-primary font-bold text-xl col-span-2">Dados pessoais</h2>
      <span class="flex flex-col gap-1">
        <label for="nome" class="text-paragraph font-semibold"><i class="pi pi-user text-primary"></i> Nome<span
            class="text-error">*</span></label>
        <input inputAutofocus type="text" id="nome" class="outline-none shadow rounded-md p-2 focus:shadow-input-focus"
          placeholder="Nome completo" formControlName="nome">
      </span>
      <span class="flex flex-col gap-1">
        <label for="cpf" class="text-paragraph font-semibold"><i class="pi pi-id-card text-primary"></i> CPF<span
            class="text-error">*</span></label>
        <input type="text" id="cpf" class="outline-none shadow rounded-md p-2 focus:shadow-input-focus"
          placeholder="XXX.XXX.XXX-XX" formControlName="cpf" (input)="onCpfChanges($event)">
      </span>
      <span class="flex flex-col gap-1">
        <label for="data-nascimento" class="text-paragraph font-semibold"><i class="pi pi-gift text-primary"></i> Data
          nascimento<span class="text-error">*</span></label>
        <input type="date" id="data-nascimento" class="outline-none shadow rounded-md p-2 focus:shadow-input-focus"
          formControlName="dataNascimento" />
      </span>
      <span class="flex flex-col gap-1">
        <label for="telefone" class="text-paragraph font-semibold"><i class="pi pi-phone text-primary"></i>
          Telefone<span class="text-error">*</span></label>
        <input type="text" id="telefone" class="outline-none shadow rounded-md p-2 focus:shadow-input-focus"
          placeholder="(XX) XXXXX-XXXX" formControlName="telefone" (input)="onPhoneChanges($event)">
      </span>
      <span class="flex flex-col gap-1">
        <label for="email" class="text-paragraph font-semibold"><i class="pi pi-envelope text-primary"></i>
          Email<span class="text-error">*</span></label>
        <input type="email" id="email" class="outline-none shadow rounded-md p-2 focus:shadow-input-focus"
          placeholder="email@email.com" formControlName="email">
      </span>
      <span class="flex flex-col items-center justify-center gap-1">
        <div class="relative">
          <button *ngIf="clientImageUrl" class="rounded-full bg-error text-white px-1 absolute right-2 top-1"
            (click)="cancelImage()">
            <p class="pi pi-times text-sm"></p>
          </button>
          <div
            class="flex flex-col justify-center items-center rounded-full w-28 h-28 md:w-32 md:h-32 self-center overflow-hidden">
            <img [src]=" clientImageUrl? clientImageUrl:'assets/user.png'" alt="User"
              class="w-full h-full object-cover">
          </div>
          <label for="foto" class="bg-primary px-1 rounded-full absolute z-50 bottom-1 right-2 cursor-pointer"><i
              class="pi pi-camera text-white"></i>
          </label>
          <input type="file" id="foto" class="hidden w-[1%]" accept="image/*" (change)="onImageSelection($event)">
        </div>
        <span class="text-paragraph font-semibold">{{clientImageName? clientImageName: 'Foto'}}</span>
      </span>
    </div>
    <div class="bg-background shadow grid grid-cols-2 w-full rounded-md p-5 lg:gap-5 gap-2">
      <h2 class="text-primary font-bold text-xl col-span-2">Dados de saúde</h2>
      <span class="flex flex-col gap-1 col-span-2">
        <label for="objetivo" class="text-paragraph font-semibold"><i class="pi pi-bullseye text-primary"></i>
          Objetivo<span class="text-error">*</span></label>
        <textarea type="text" id="objetivo" class="outline-none shadow rounded-md p-2 focus:shadow-input-focus"
          placeholder="Objetivo" formControlName="objetivo"></textarea>
      </span>
      <span class="flex flex-col gap-1">
        <label for="objetivo" class="text-paragraph font-semibold"><i class="pi pi-heart text-primary"></i> Indicação
          médica</label>
        <input type="text" id="objetivo" class="outline-none shadow rounded-md p-2 focus:shadow-input-focus"
          placeholder="Indicação, se houver" formControlName="indicacaoMedica">
      </span>
      <span class="flex flex-col gap-1">
        <label for="lesao" class="text-paragraph font-semibold"><i class="pi pi-exclamation-triangle text-primary"></i>
          Tipo de lesão</label>
        <input type="text" id="lesao" class="outline-none shadow rounded-md p-2 focus:shadow-input-focus"
          placeholder="Tipo da lesão, se houver" formControlName="lesao">
      </span>
      <span class="flex flex-col gap-1">
        <label for="altura" class="text-paragraph font-semibold"><i class="pi pi-arrows-v text-primary"></i> Altura
          (cm)<span class="text-error">*</span></label>
        <input type="number" id="altura" class="outline-none shadow rounded-md p-2 focus:shadow-input-focus"
          placeholder="Altura" formControlName="altura">
      </span>
      <span class="flex flex-col gap-1">
        <label for="peso" class="text-paragraph font-semibold"><i class="pi pi-gauge text-primary"></i> Peso
          (kg)<span class="text-error">*</span></label>
        <input type="number" id="peso" class="outline-none shadow rounded-md p-2 focus:shadow-input-focus"
          placeholder="Peso" formControlName="peso">
      </span>
    </div>
    <div class="self-end">
      <button *ngIf="!client" class="bg-info text-white p-2 rounded-md mr-5 text-xs md:text-base" (click)="saveForm()"><i
          class="pi pi-user-plus"></i>
        CADASTRAR</button>
      <button *ngIf="client" class="bg-info text-white p-2 rounded-md mr-5 text-xs md:text-base" (click)="saveForm()">
        <i class="pi pi-save"></i>
        SALVAR</button>
    </div>
  </div>
</div>